* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.title{
  width: auto;
  backdrop-filter: blur(4px);
  font-size: 48px;
  border-radius: 8px;
  text-align: center;
}

.element{
  backdrop-filter: blur(4px);
}

.app-container {
  overflow-y: auto;
  height: 100vh;
}

.lock {
    height: 100%;
    overflow-y: auto;
  }
